@charset "UTF-8";

#playerCanvas {
	background-color: black;
        width: 80%;
}

#loginBlock {
    width: 50%;
    margin: auto;
    border: 3px solid black;
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div.badPassword {
    font-weight: bold;
    color:tomato;
}